<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {%load static%}
    <title>Classic Carpentry</title>
    <link rel="stylesheet" href="{% static 'main_app/css/master.css'%}">
  </head>
  <body>
    <h1>Classic Carpentry LLC</h1>
    <div class="container">
      <div class="topbar">
          <a href="index">About Us</a>
          <a href="services">Services</a>
          <a href="gallery">Gallery</a>
          <a href="contact">Contact Us</a>
      </div>
      <div class="content">
        <div class="text">
          <h2>Gallery</h2>
          <img src="static/main_app/img/gallery1.jpeg" alt="">
          <img src="static/main_app/img/gallery2.jpeg" alt="">
          <img src="static/main_app/img/gallery3.jpeg" alt="">
          <img src="static/main_app/img/gallery4.jpeg" alt="">
        </div>
      </div>
      <div class="links">
        <img src="static/main_app/img/fb.png" alt="fb icon"><a href="https://www.facebook.com/dave.walasek">Visit our facebook page!</a>
      </div>
    </div>
  </body>
</html>
